<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="../../public/stylesheets/normalize.css">
        <link rel="stylesheet" href="https://font.googleapis.com/css?family=Roboto+Condens">
        <link rel="stylesheet" href="../../public/stylesheets/lib.css">
        <title>Finster</title>
    </head>
    
    <body>
        <header>
            <h1>Finstagram</h1>
        </header>
        <main role="main">
            <articlec class="post">
                <div class="user-info">
                    <img src="https://c1.staticflickr.com/4/3034/3249006089_8e6ea8720e_n.jpg" alt="sharky" />
                        <h2>Sharky</h2>
                      <h3>15 minutes ago</h3>
                </div>
                     <a class="photo" href="#">
                           <img src="https://c1.staticflickr.com/4/3034/3249006089_8e6ea8720e_n.jpg" alt="sharky" />
                         </a>
                         <div class="actions">
                    0 likes
                    <span>0 Comments</span>
                </div>
                    <ul class="comments">
                        <li>
                            <p>Sharky Out for the long weekend...too embarressed to show y'll the beach bod</p>
                        </li>
                    </ul>
            </article>
        </main>
    </body>
</html>